<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="scenario">
      <h2 data-cy="scenarioDetailsHeading"><span jhiTranslate="pragRiskApp.scenario.detail.title">Scenario</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pragRiskApp.scenario.scenarioID">Scenario ID</span></dt>
        <dd>
          <span>{{ scenario.scenarioID }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.scenario.actorID">Actor ID</span></dt>
        <dd>
          <span>{{ scenario.actorID }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.scenario.technologyID">Technology ID</span></dt>
        <dd>
          <span>{{ scenario.technologyID }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.scenario.vulnerabilityID">Vulnerability ID</span></dt>
        <dd>
          <span>{{ scenario.vulnerabilityID }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.scenario.description">Description</span></dt>
        <dd>
          <span>{{ scenario.description }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.scenario.probability">Probability</span></dt>
        <dd>
          <span>{{ scenario.probability }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.scenario.qonsequence">Qonsequence</span></dt>
        <dd>
          <span>{{ scenario.qonsequence }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.scenario.actorID">Actor ID</span></dt>
        <dd>
          <div *ngIf="scenario.actorID">
            <a [routerLink]="['/actor', scenario.actorID?.actorID, 'view']">{{ scenario.actorID?.actorID }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.scenario.technologyID">Technology ID</span></dt>
        <dd>
          <div *ngIf="scenario.technologyID">
            <a [routerLink]="['/technology', scenario.technologyID?.technologyID, 'view']">{{ scenario.technologyID?.technologyID }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.scenario.vulnerabilityID">Vulnerability ID</span></dt>
        <dd>
          <div *ngIf="scenario.vulnerabilityID">
            <a [routerLink]="['/vulnerability', scenario.vulnerabilityID?.vulnerabilityID, 'view']">{{
              scenario.vulnerabilityID?.vulnerabilityID
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/scenario', scenario.scenarioID, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
