<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-mitigation-heading" data-cy="MitigationCreateUpdateHeading" jhiTranslate="pragRiskApp.mitigation.home.createOrEditLabel">
        Create or edit a Mitigation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('mitigationID')!.value == null">
          <label class="form-control-label" jhiTranslate="pragRiskApp.mitigation.mitigationID" for="field_mitigationID"
            >Mitigation ID</label
          >
          <input
            type="text"
            class="form-control"
            name="mitigationID"
            id="field_mitigationID"
            data-cy="mitigationID"
            formControlName="mitigationID"
            [readonly]="true"
          />
          <div
            *ngIf="editForm.get('mitigationID')!.invalid && (editForm.get('mitigationID')!.dirty || editForm.get('mitigationID')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('mitigationID')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.mitigation.controlID" for="field_controlID">Control ID</label>
          <input type="text" class="form-control" name="controlID" id="field_controlID" data-cy="controlID" formControlName="controlID" />
          <div *ngIf="editForm.get('controlID')!.invalid && (editForm.get('controlID')!.dirty || editForm.get('controlID')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('controlID')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.mitigation.reference" for="field_reference">Reference</label>
          <input type="text" class="form-control" name="reference" id="field_reference" data-cy="reference" formControlName="reference" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.mitigation.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'pragRiskApp.MitigationType.null' | translate }}</option>
            <option *ngFor="let mitigationType of mitigationTypeValues" [value]="mitigationType">
              {{ 'pragRiskApp.MitigationType.' + mitigationType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('type')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.mitigation.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'pragRiskApp.MitigationStatus.null' | translate }}</option>
            <option *ngFor="let mitigationStatus of mitigationStatusValues" [value]="mitigationStatus">
              {{ 'pragRiskApp.MitigationStatus.' + mitigationStatus | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
