<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="mitigation">
      <h2 data-cy="mitigationDetailsHeading"><span jhiTranslate="pragRiskApp.mitigation.detail.title">Mitigation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pragRiskApp.mitigation.mitigationID">Mitigation ID</span></dt>
        <dd>
          <span>{{ mitigation.mitigationID }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.mitigation.controlID">Control ID</span></dt>
        <dd>
          <span>{{ mitigation.controlID }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.mitigation.reference">Reference</span></dt>
        <dd>
          <span>{{ mitigation.reference }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.mitigation.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pragRiskApp.MitigationType.' + mitigation.type }}">{{ mitigation.type }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.mitigation.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pragRiskApp.MitigationStatus.' + mitigation.status }}">{{ mitigation.status }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mitigation', mitigation.mitigationID, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
