<div>
  <h2 id="page-heading" data-cy="ScenarioHeading">
    <span jhiTranslate="pragRiskApp.scenario.home.title">Scenarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="pragRiskApp.scenario.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-scenario"
        [routerLink]="['/scenario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="pragRiskApp.scenario.home.createLabel"> Create a new Scenario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="row">
    <div class="col-sm-12">
      <form name="searchForm" class="form-inline">
        <div class="input-group w-100 mt-3">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="currentSearch"
            id="currentSearch"
            name="currentSearch"
            placeholder="{{ 'pragRiskApp.scenario.home.search' | translate }}"
          />

          <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
            <fa-icon icon="search"></fa-icon>
          </button>

          <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-warning" id="no-result" *ngIf="scenarios?.length === 0">
    <span jhiTranslate="pragRiskApp.scenario.home.notFound">No scenarios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="scenarios && scenarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="pragRiskApp.scenario.scenarioID">Scenario ID</span></th>
          <th scope="col"><span jhiTranslate="pragRiskApp.scenario.actorID">Actor ID</span></th>
          <th scope="col"><span jhiTranslate="pragRiskApp.scenario.technologyID">Technology ID</span></th>
          <th scope="col"><span jhiTranslate="pragRiskApp.scenario.vulnerabilityID">Vulnerability ID</span></th>
          <th scope="col"><span jhiTranslate="pragRiskApp.scenario.description">Description</span></th>
          <th scope="col"><span jhiTranslate="pragRiskApp.scenario.probability">Probability</span></th>
          <th scope="col"><span jhiTranslate="pragRiskApp.scenario.qonsequence">Qonsequence</span></th>
          <th scope="col"><span jhiTranslate="pragRiskApp.scenario.actorID">Actor ID</span></th>
          <th scope="col"><span jhiTranslate="pragRiskApp.scenario.technologyID">Technology ID</span></th>
          <th scope="col"><span jhiTranslate="pragRiskApp.scenario.vulnerabilityID">Vulnerability ID</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scenario of scenarios; trackBy: trackScenarioID" data-cy="entityTable">
          <td>
            <a [routerLink]="['/scenario', scenario.scenarioID, 'view']">{{ scenario.scenarioID }}</a>
          </td>
          <td>{{ scenario.actorID }}</td>
          <td>{{ scenario.technologyID }}</td>
          <td>{{ scenario.vulnerabilityID }}</td>
          <td>{{ scenario.description }}</td>
          <td>{{ scenario.probability }}</td>
          <td>{{ scenario.qonsequence }}</td>
          <td>
            <div *ngIf="scenario.actorID">
              <a [routerLink]="['/actor', scenario.actorID?.actorID, 'view']">{{ scenario.actorID?.actorID }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="scenario.technologyID">
              <a [routerLink]="['/technology', scenario.technologyID?.technologyID, 'view']">{{ scenario.technologyID?.technologyID }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="scenario.vulnerabilityID">
              <a [routerLink]="['/vulnerability', scenario.vulnerabilityID?.vulnerabilityID, 'view']">{{
                scenario.vulnerabilityID?.vulnerabilityID
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/scenario', scenario.scenarioID, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/scenario', scenario.scenarioID, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(scenario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
