<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-scenario-heading" data-cy="ScenarioCreateUpdateHeading" jhiTranslate="pragRiskApp.scenario.home.createOrEditLabel">
        Create or edit a Scenario
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('scenarioID')!.value == null">
          <label class="form-control-label" jhiTranslate="pragRiskApp.scenario.scenarioID" for="field_scenarioID">Scenario ID</label>
          <input
            type="text"
            class="form-control"
            name="scenarioID"
            id="field_scenarioID"
            data-cy="scenarioID"
            formControlName="scenarioID"
            [readonly]="true"
          />
          <div *ngIf="editForm.get('scenarioID')!.invalid && (editForm.get('scenarioID')!.dirty || editForm.get('scenarioID')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('scenarioID')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.scenario.actorID" for="field_actorID">Actor ID</label>
          <input type="text" class="form-control" name="actorID" id="field_actorID" data-cy="actorID" formControlName="actorID" />
          <div *ngIf="editForm.get('actorID')!.invalid && (editForm.get('actorID')!.dirty || editForm.get('actorID')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('actorID')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.scenario.technologyID" for="field_technologyID">Technology ID</label>
          <input
            type="text"
            class="form-control"
            name="technologyID"
            id="field_technologyID"
            data-cy="technologyID"
            formControlName="technologyID"
          />
          <div
            *ngIf="editForm.get('technologyID')!.invalid && (editForm.get('technologyID')!.dirty || editForm.get('technologyID')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('technologyID')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.scenario.vulnerabilityID" for="field_vulnerabilityID"
            >Vulnerability ID</label
          >
          <input
            type="text"
            class="form-control"
            name="vulnerabilityID"
            id="field_vulnerabilityID"
            data-cy="vulnerabilityID"
            formControlName="vulnerabilityID"
          />
          <div
            *ngIf="
              editForm.get('vulnerabilityID')!.invalid &&
              (editForm.get('vulnerabilityID')!.dirty || editForm.get('vulnerabilityID')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('vulnerabilityID')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.scenario.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 1024 }"
            >
              This field cannot be longer than 1024 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.scenario.probability" for="field_probability">Probability</label>
          <input
            type="number"
            class="form-control"
            name="probability"
            id="field_probability"
            data-cy="probability"
            formControlName="probability"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.scenario.qonsequence" for="field_qonsequence">Qonsequence</label>
          <input
            type="number"
            class="form-control"
            name="qonsequence"
            id="field_qonsequence"
            data-cy="qonsequence"
            formControlName="qonsequence"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.scenario.actorID" for="field_actorID">Actor ID</label>
          <select class="form-control" id="field_actorID" data-cy="actorID" name="actorID" formControlName="actorID">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="actorOption.actorID === editForm.get('actorID')!.value?.actorID ? editForm.get('actorID')!.value : actorOption"
              *ngFor="let actorOption of actorsSharedCollection; trackBy: trackActorByActorID"
            >
              {{ actorOption.actorID }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.scenario.technologyID" for="field_technologyID">Technology ID</label>
          <select class="form-control" id="field_technologyID" data-cy="technologyID" name="technologyID" formControlName="technologyID">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                technologyOption.technologyID === editForm.get('technologyID')!.value?.technologyID
                  ? editForm.get('technologyID')!.value
                  : technologyOption
              "
              *ngFor="let technologyOption of technologiesSharedCollection; trackBy: trackTechnologyByTechnologyID"
            >
              {{ technologyOption.technologyID }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.scenario.vulnerabilityID" for="field_vulnerabilityID"
            >Vulnerability ID</label
          >
          <select
            class="form-control"
            id="field_vulnerabilityID"
            data-cy="vulnerabilityID"
            name="vulnerabilityID"
            formControlName="vulnerabilityID"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                vulnerabilityOption.vulnerabilityID === editForm.get('vulnerabilityID')!.value?.vulnerabilityID
                  ? editForm.get('vulnerabilityID')!.value
                  : vulnerabilityOption
              "
              *ngFor="let vulnerabilityOption of vulnerabilitiesSharedCollection; trackBy: trackVulnerabilityByVulnerabilityID"
            >
              {{ vulnerabilityOption.vulnerabilityID }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
