<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-technology-heading" data-cy="TechnologyCreateUpdateHeading" jhiTranslate="pragRiskApp.technology.home.createOrEditLabel">
        Create or edit a Technology
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('technologyID')!.value == null">
          <label class="form-control-label" jhiTranslate="pragRiskApp.technology.technologyID" for="field_technologyID"
            >Technology ID</label
          >
          <input
            type="text"
            class="form-control"
            name="technologyID"
            id="field_technologyID"
            data-cy="technologyID"
            formControlName="technologyID"
            [readonly]="true"
          />
          <div
            *ngIf="editForm.get('technologyID')!.invalid && (editForm.get('technologyID')!.dirty || editForm.get('technologyID')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('technologyID')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.technology.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.technology.category" for="field_category">Category</label>
          <select class="form-control" name="category" formControlName="category" id="field_category" data-cy="category">
            <option [ngValue]="null">{{ 'pragRiskApp.TechCategory.null' | translate }}</option>
            <option *ngFor="let techCategory of techCategoryValues" [value]="techCategory">
              {{ 'pragRiskApp.TechCategory.' + techCategory | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('category')!.invalid && (editForm.get('category')!.dirty || editForm.get('category')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('category')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.technology.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('description')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 1024 }"
            >
              This field cannot be longer than 1024 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.technology.techStackType" for="field_techStackType"
            >Tech Stack Type</label
          >
          <select
            class="form-control"
            name="techStackType"
            formControlName="techStackType"
            id="field_techStackType"
            data-cy="techStackType"
          >
            <option [ngValue]="null">{{ 'pragRiskApp.TechStack.null' | translate }}</option>
            <option *ngFor="let techStack of techStackValues" [value]="techStack">
              {{ 'pragRiskApp.TechStack.' + techStack | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="pragRiskApp.technology.parentTechnology" for="field_parentTechnology"
            >Parent Technology</label
          >
          <select
            class="form-control"
            id="field_parentTechnology"
            data-cy="parentTechnology"
            name="parentTechnology"
            formControlName="parentTechnology"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                technologyOption.technologyID === editForm.get('parentTechnology')!.value?.technologyID
                  ? editForm.get('parentTechnology')!.value
                  : technologyOption
              "
              *ngFor="let technologyOption of parentTechnologiesCollection; trackBy: trackTechnologyByTechnologyID"
            >
              {{ technologyOption.technologyID }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
