<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="actor">
      <h2 data-cy="actorDetailsHeading"><span jhiTranslate="pragRiskApp.actor.detail.title">Actor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pragRiskApp.actor.actorID">Actor ID</span></dt>
        <dd>
          <span>{{ actor.actorID }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.actor.firstName">First Name</span></dt>
        <dd>
          <span>{{ actor.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.actor.lastName">Last Name</span></dt>
        <dd>
          <span>{{ actor.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.actor.nickName">Nick Name</span></dt>
        <dd>
          <span>{{ actor.nickName }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.actor.environMent">Environ Ment</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pragRiskApp.Environment.' + actor.environMent }}">{{ actor.environMent }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.actor.parentActor">Parent Actor</span></dt>
        <dd>
          <span>{{ actor.parentActor }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.actor.description">Description</span></dt>
        <dd>
          <span>{{ actor.description }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.actor.parentActor">Parent Actor</span></dt>
        <dd>
          <div *ngIf="actor.parentActor">
            <a [routerLink]="['/actor', actor.parentActor?.actorID, 'view']">{{ actor.parentActor?.actorID }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/actor', actor.actorID, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
