<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="technology">
      <h2 data-cy="technologyDetailsHeading"><span jhiTranslate="pragRiskApp.technology.detail.title">Technology</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pragRiskApp.technology.technologyID">Technology ID</span></dt>
        <dd>
          <span>{{ technology.technologyID }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.technology.name">Name</span></dt>
        <dd>
          <span>{{ technology.name }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.technology.category">Category</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pragRiskApp.TechCategory.' + technology.category }}">{{ technology.category }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.technology.description">Description</span></dt>
        <dd>
          <span>{{ technology.description }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.technology.inheritsFrom">Inherits From</span></dt>
        <dd>
          <span>{{ technology.inheritsFrom }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.technology.techStackType">Tech Stack Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'pragRiskApp.TechStack.' + technology.techStackType }}">{{ technology.techStackType }}</span>
        </dd>
        <dt><span jhiTranslate="pragRiskApp.technology.inheritsFrom">Inherits From</span></dt>
        <dd>
          <div *ngIf="technology.inheritsFrom">
            <a [routerLink]="['/technology', technology.inheritsFrom?.technologyID, 'view']">{{ technology.inheritsFrom?.technologyID }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/technology', technology.technologyID, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
